.header {
  margin-top: 0px;
  height: 80px;
  width: 100%;
  text-align: center;
  background-color: rgb(233, 205, 83);
  font-size: 30px;
  padding-top: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
  

}